# jovian-ml-project-rough

Use the "Run" button to execute the code.

In [1]:
#pip install jovian --upgrade --quiet

In [2]:
#import jovian

In [3]:
# Execute this to save new versions of the notebook
#jovian.commit(project="jovian-ml-project",filename="jovian-ml-project")

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import xml.etree.ElementTree as ET
import time
import re
from tqdm import tqdm
%matplotlib inline

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.simplefilter(action='ignore')

In [6]:
tqdm.pandas(desc="my bar!")

<a id='top'>**Beginning of Notebook**</a>

[model train text data](#train_data)

#### train data

In [7]:
train_text_df = pd.read_csv('training_text.zip', sep="\|\|", encoding="utf-8",engine="python", skiprows=1, names=["ID", "Text"],compression='zip')

In [8]:
train_vari_df = pd.read_csv('training_variants.zip',compression='zip')

In [9]:
train_vari_df['Class'].value_counts()

7    953
4    686
1    568
2    452
6    275
5    242
3     89
9     37
8     19
Name: Class, dtype: int64

In [10]:
train_text_df.shape, train_vari_df.shape

((3321, 2), (3321, 4))

In [11]:
train_text_df.columns, train_vari_df.columns

(Index(['ID', 'Text'], dtype='object'),
 Index(['ID', 'Gene', 'Variation', 'Class'], dtype='object'))

In [12]:
# merging the text and variation data
train_df = pd.merge(train_vari_df,train_text_df,on='ID')

In [13]:
# taking a sample of the dataset
train_df = train_df.sample(frac=0.2)

In [14]:
train_df.head()

,ID,Gene,Variation,Class,Text
1508,1508,ALK,L1122V,7,"In the era of personalized medicine, understan..."
2815,2815,BRCA2,K2472T,6,Purpose Rare missense substitutions and in-fra...
2947,2947,KDR,D717V,7,Angiosarcomas (AS) represent a heterogeneous g...
1040,1040,TSC2,R1200W,4,Tuberous sclerosis complex (TSC) is an autosom...
534,534,SMAD2,R321Q,4,Abstract To investigate genetic alterations i...

In [15]:
train_df.shape

(664, 5)

In [16]:
train_df['Class'].value_counts()

7    196
4    147
1    117
2     93
6     49
5     37
3     16
9      5
8      4
Name: Class, dtype: int64

In [17]:
test_text_df = pd.read_csv('test_text.zip', sep="\|\|", encoding="utf-8",engine="python", skiprows=1, names=["ID", "Text"],compression='zip')

In [18]:
test_vari_df  = pd.read_csv('test_variants.zip',compression='zip')

In [19]:
test_vari_df.head()

   ID     Gene Variation
0   0    ACSL4     R570S
1   1    NAGLU     P521L
2   2      PAH     L333F
3   3     ING1     A148D
4   4  TMEM216      G77A

In [20]:
test_vari_df.shape

(5668, 3)

In [21]:
# test_vari_df sample
test_vari_df=test_vari_df.sample(frac=0.1)

In [22]:
# test_text_df sample
test_text_df = test_text_df.sample(frac=0.1)

In [23]:
test_text_df.shape

(567, 2)

In [24]:
test_text_df.head()

        ID                                               Text
2066  2066  The DNA-damage response (DDR) plays a crucial ...
5358  5358  Mismatch-repair factors have a prominent role ...
436    436  Gain-of-function D816V point mutation within t...
5059  5059  Mutations in inositol polyphosphate 5-phosphat...
3114  3114  The androgen receptor (AR) is involved in the ...

In [25]:
train_vari_df.groupby('Gene').sum().head()

          ID  Class
Gene
ABL1   22087     62
ACVR1   3207     16
AGO2   10435      6
AKT1   37898    165
AKT2   15103     76

In [26]:
train_vari_df.groupby('Gene').count().head()

       ID  Variation  Class
Gene
ABL1   26         26     26
ACVR1   3          3      3
AGO2    5          5      5
AKT1   28         28     28
AKT2   11         11     11

In [27]:
train_vari_df[train_vari_df['Gene'] == 'AGO2']

        ID  Gene      Variation  Class
2085  2085  AGO2          R812A      1
2086  2086  AGO2          R647A      1
2087  2087  AGO2          R583A      1
2088  2088  AGO2  Amplification      2
2089  2089  AGO2          Q545A      1

In [28]:
merged_df=train_vari_df.merge(train_text_df,on= 'ID')

[link to destination](#destination)

In [29]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [30]:
revised_punctuation='!"#$%&\'()*+,./:;<=>?@[\\]^_`{|}~'

In [31]:
revised_punctuation

'!"#$%&\'()*+,./:;<=>?@[\\]^_`{|}~'

In [32]:
#!pip install nltk

In [33]:
import nltk
nltk.download('words')
from nltk.corpus import words
words=nltk.corpus.words.words()

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\anubr\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [34]:
len(set(words))

235892

In [35]:
nltk_words=set(words)

In [36]:
# set did not help as it reduces the number to 
# def reduce_words(row,index): 
#     text=row[1]
#     if isinstance(text,str):
#         new_text_words = set(text.split())
        
#         important_words = new_text_words.difference(words)
#         edited_words = " ".join(important_words)
        
#         intersected_words = new_text_words.intersection(words)
#         edit_intersect_words = " ".join(intersected_words)
#         train_text_df['new_text'][index] = edited_words
#         train_text_df['intsct_text'][index] = edit_intersect_words

In [37]:
#from collections import Counter

In [38]:
def reduce_words_df(row,index): 
    text=row[1]
    if isinstance(text,str):
        new_text_words = text.split()
        counted_words = Counter(new_text_words) 
        counted_words=sorted(counted_words.items(),key=lambda x:x[1], reverse=True)
        test['new_text'][index] = counted_words

In [39]:
# for index,row in test.iterrows():
#     reduce_words(row,index)

In [40]:
def cleanse_data(data):        
    if isinstance(data,str):
        no_punctuation = [char for char in data.replace('\n',' ') if char not in revised_punctuation]
        no_punctuation_txt = ''.join(no_punctuation)                   
        return no_punctuation_txt
    else:
        return "NA"

In [41]:
def reduce_words(data):
    data = data.split()
    words = [word for word in data if word not in nltk_words]
    text = " ".join(words)
    return text

In [42]:
def word_count(text):
    text_lst=text.split()
    vector = [text_lst.count(str(word)) for word in text_lst]
    return vector[:300]

In [43]:
from nltk.probability import FreqDist

we have obtained the frequency distribution of words using freqdist

In [44]:
def freq_dist(data):
    data=data.split(" ")
    freq=FreqDist(data) # gets word frequency
    freq=sorted(freq.items(),key=lambda x:x[1], reverse=True) # sorts words from highest to lowest frequency
    return [item[1] for item in freq][:300] # returns a fixed length of 300 words

In [45]:
# implementing bag of words

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

In [47]:
bow_vectorizer = CountVectorizer(stop_words='english',max_features=1600)

In [48]:
# implementing tf-idf

In [49]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [50]:
tfidf_vectorizer = TfidfVectorizer(
    min_df=1, max_features=1600, strip_accents='unicode',lowercase =True,
    analyzer='word', token_pattern=r'\w+', ngram_range=(1, 3), use_idf=True, 
    smooth_idf=True, sublinear_tf=True, stop_words = 'english')

In [51]:
# https://melaniewalsh.github.io/Intro-Cultural-Analytics/05-Text-Analysis/03-TF-IDF-Scikit-Learn.html
# https://www.datacamp.com/community/tutorials/understanding-logistic-regression-python
# https://machinelearningmastery.com/multinomial-logistic-regression-with-python/
# https://www.kaggle.com/elemento/personalizedmedicine-rct

In [52]:
from sklearn.linear_model import LogisticRegression

In [53]:
from sklearn.metrics import log_loss

In [54]:
# define the multinomial logistic regression model
bow_model = LogisticRegression(multi_class='multinomial', solver='lbfgs')
tfidf_model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

In [55]:
#sorted(bow_model.coef_.tolist()[0])[:5]

In [56]:
#sorted(tfidf_model.coef_.tolist()[0])[:5]

<a id="train_data" style="font-size:22px">model train text sample data</a>

[Beginning of Notebook](#top)

### handling the train text sample data

#### text preprocessing

In [57]:
train_df.head()

,ID,Gene,Variation,Class,Text
1508,1508,ALK,L1122V,7,"In the era of personalized medicine, understan..."
2815,2815,BRCA2,K2472T,6,Purpose Rare missense substitutions and in-fra...
2947,2947,KDR,D717V,7,Angiosarcomas (AS) represent a heterogeneous g...
1040,1040,TSC2,R1200W,4,Tuberous sclerosis complex (TSC) is an autosom...
534,534,SMAD2,R321Q,4,Abstract To investigate genetic alterations i...

In [58]:
# remove punctuation
train_df['cleaned_text'] = train_df['Text'].map(cleanse_data,na_action='ignore')

In [59]:
# filtering all common english words
train_df['cleaned_text'] = train_df['cleaned_text'].map(reduce_words,na_action='ignore')

In [60]:
train_df['Text_len'] = train_df['Text'].map(lambda x:len(str(x)))
train_df['cleaned_text_len'] = train_df['cleaned_text'].map(lambda x:len(str(x)))

In [61]:
train_df.head()

,ID,Gene,Variation,Class,Text,cleaned_text,Text_len,cleaned_text_len
1508,1508,ALK,L1122V,7,"In the era of personalized medicine, understan...",In personalized drivers oncogenesis characteri...,46112,21449
2815,2815,BRCA2,K2472T,6,Purpose Rare missense substitutions and in-fra...,Purpose Rare missense substitutions in-frame d...,22678,8114
2947,2947,KDR,D717V,7,Angiosarcomas (AS) represent a heterogeneous g...,Angiosarcomas AS tumors occurring locations se...,15704,6686
1040,1040,TSC2,R1200W,4,Tuberous sclerosis complex (TSC) is an autosom...,Tuberous TSC characterized symptoms hamartomat...,21240,10075
534,534,SMAD2,R321Q,4,Abstract To investigate genetic alterations i...,Abstract To alterations TGF-β signaling colore...,67598,27850

In [62]:
train_df[train_df['cleaned_text'].map(lambda x:not isinstance(x,str))]

Empty DataFrame
Columns: [ID, Gene, Variation, Class, Text, cleaned_text, Text_len, cleaned_text_len]
Index: []

In [ ]:
train_df.drop([1109],axis=0,inplace=True)

#### converting text to numbers

In [63]:
train_df_corpus = train_df['cleaned_text'].tolist()

In [64]:
bow_vectorizer.fit(train_df_corpus)

CountVectorizer(max_features=1600, stop_words='english')

In [66]:
train_df_counts= bow_vectorizer.transform(train_df_corpus)

In [67]:
print("Vocabulary: ", bow_vectorizer.vocabulary_)

Vocabulary:  {'drivers': 545, 'oncogenesis': 1078, 'characteristics': 377, 'therapies': 1484, 'identifying': 782, 'mutations': 1018, 'sequencing': 1355, 'cohorts': 401, 'family': 626, 'including': 812, 'genes': 695, 'oncogenes': 1077, 'forms': 665, 'changes': 376, 'implicated': 805, 'et': 593, 'mycn': 1020, 'oncogene': 1076, 'tumors': 1525, 'subsets': 1433, 'encoding': 571, 'like': 902, 'families': 625, 'reviewed': 1305, 'old': 1074, 'pedigrees': 1127, '20': 64, 'showed': 1361, 'using': 1543, 'genome': 697, 'polymorphisms': 1165, 'snps': 1397, 'identified': 781, 'germline': 703, 'alk': 238, 'predicted': 1177, 'substitutions': 1434, 'fig': 645, 'proteins': 1210, 'containing': 432, 'indicated': 817, 'figure': 647, 'domains': 536, 'pathways': 1110, 'inhibitors': 831, 'amino': 249, 'acid': 208, 'positions': 1169, 'snp': 1396, 'based': 305, 'methods': 974, 'studies': 1428, 'results': 1298, 'resulted': 1297, 'increases': 814, 'autophosphorylation': 298, 'akt': 229, 'lines': 905, '3t3': 119, 'baf3': 300, 'tissues': 1488, 'differences': 515, 'individuals': 820, 'disease': 522, 'free': 670, 'single': 1376, 'gene': 692, 'leads': 891, 'cells': 369, 'activated': 212, 'tumorigenesis': 1523, 'targeted': 1466, 'followed': 661, 'non': 1046, 'mediated': 956, 'small': 1390, 'molecule': 995, 'supported': 1448, 'cases': 351, 'wild': 1576, 'type': 1528, 'activating': 214, 'f1174l': 620, 'occurred': 1070, 'met': 972, 'crizotinib': 455, 'contained': 431, 'harboring': 737, 'levels': 896, 'phosphorylated': 1142, 'increased': 813, 'supports': 1449, '600': 153, 'eml4': 568, 'cell': 368, 'kinases': 873, 'overexpressed': 1087, 'interactions': 845, 'strategies': 1424, 'targeting': 1467, 'cancers': 347, 'insights': 839, 'trials': 1515, 'subgroups': 1431, 'approaches': 272, '70': 165, '80': 175, 'lymphomas': 924, 'caused': 354, 'oncogenic': 1079, 'npm': 1054, 'approved': 273, 'stage': 1413, 'patients': 1112, 'located': 911, 'second': 1344, 'line': 904, 'iii': 789, 'tki': 1491, 'ap26113': 264, 'targets': 1468, 'egfr': 561, 'sup': 1443, 'm2': 929, 'concentrations': 412, 'demonstrated': 493, 'ic50': 778, 'values': 1552, '1000': 17, 'fold': 659, 'populations': 1168, 'overexpression': 1089, 'spanning': 1403, 'l1196m': 876, 'mechanisms': 955, 'resistant': 1292, 'implications': 806, 'systems': 1456, 'provides': 1212, 'cancer': 346, 'res': 1287, '83': 179, '2014': 80, 'introduction': 849, 'years': 1587, 'malignancies': 933, 'recognized': 1256, 'involving': 855, 'described': 502, '50': 137, 'nsclc': 1059, 'types': 1529, 'colorectal': 403, '10': 15, 'length': 892, '11': 26, '12': 31, 'glioblastoma': 710, '13': 37, '14': 40, 'properties': 1205, 'ras': 1236, 'pi3kakt': 1148, '15': 42, '17': 46, 'related': 1272, 'diseases': 523, 'treated': 1512, 'progression': 1198, 'pfs': 1131, 'compared': 405, 'os': 1084, 'observed': 1068, '18': 47, '19': 50, 'long': 914, 'term': 1473, 'follow': 660, 'reported': 1279, 'tolerated': 1494, 'expected': 611, 'refs': 1263, '21': 82, '22': 83, 'department': 497, 'health': 744, 'science': 1339, 'university': 1538, 'research': 1288, 'section': 1346, 'hospital': 765, 'note': 1052, 'supplementary': 1446, 'molecular': 994, 'online': 1081, 'author': 296, '48': 130, '39': 113, 'doi': 534, 'association': 289, 'downloaded': 542, '28': 91, '2017': 81, 'published': 1218, '24': 85, 'clones': 391, 'detected': 507, '23': 84, '26': 89, 'generation': 694, '27': 90, 'ceritinib': 371, 'alectinib': 235, 'roche': 1314, 'asp3026': 284, 'xenograft': 1581, 'doses': 539, 'unfortunately': 1536, 'derived': 501, 'cross': 457, 'resistance': 1291, 'mutated': 1015, 'mutants': 1014, 'materials': 944, 'pro': 1185, 'purchased': 1220, 'verified': 1562, '29': 93, 'nmoll': 1045, 'replaced': 1278, 'rpmi': 1317, '1640': 45, 'supplemented': 1447, '72': 167, 'hours': 769, 'maintained': 931, 'fbs': 630, 'cho': 382, 'transduced': 1503, 'plasmid': 1153, 'mgml': 978, 'site': 1379, 'directed': 519, 'mutagenesis': 1012, 'wt': 1580, 'na': 1022, 'dr': 543, 'st': 1411, 'pcdna3': 1118, 'performed': 1129, 'ii': 788, 'xl': 1583, 'stratagene': 1423, 'manufacturers': 935, 'instructions': 842, 'primers': 1183, 'follows': 663, '30': 103, 'sequence': 1352, 'id': 779, 'fish': 652, 'consists': 427, 'kb': 865, 'slides': 1384, 'procedures': 1191, 'probes': 1190, 'minutes': 982, 'ph': 1132, '53': 141, 'laboratories': 880, 'usa': 1542, 'anti': 261, 'pcr': 1119, 'rt': 1319, 'breakpoint': 337, 'amplified': 253, 'high': 757, 'polymerase': 1164, 'products': 1195, 'real': 1248, 'time': 1486, 'exome': 606, 'generated': 693, 'mg': 975, 'dna': 530, 'genomic': 699, 'life': 898, 'technology': 1471, '200': 65, '500': 138, 'bp': 330, 'processed': 1192, 'illumina': 791, 'enriched': 575, 'sequenced': 1353, '76': 171, 'end': 572, 'reads': 1246, 'processing': 1194, 'analysis': 255, 'software': 1398, 'sanger': 1331, 'sequences': 1354, 'aligned': 237, 'database': 477, 'samples': 1330, 'matched': 943, 'copy': 441, '31': 105, 'western': 1575, 'antibodies': 262, 'compounds': 411, 'harvested': 738, 'pbs': 1116, '4c': 134, 'resuspended': 1299, '100': 16, 'amersham': 248, 'incubated': 815, '25': 87, 'secondary': 1345, 'conjugated': 421, 'mouse': 1001, 'visualized': 1566, 'recommended': 1258, 'monoclonal': 998, 'phospho': 1138, 'stat3': 1416, 'tyr': 1530, 'signaling': 1369, 'actin': 211, 'polyclonal': 1163, 'proliferation': 1199, '96': 192, 'plates': 1155, 'mmoll': 989, 'labeled': 879, 'dose': 538, 'response': 1294, 'curves': 465, 'analyzed': 256, 'prism': 1184, 'indicates': 818, 'half': 734, 'normalized': 1048, 'rr': 1318, '32': 106, 'pdb': 1121, 'positive': 1170, 's1': 1323, '300': 104, 'table': 1462, 'referred': 1262, 'indicating': 819, 'identification': 780, 'quantified': 1225, '94': 190, '60': 152, '71': 166, '65': 158, '05': 9, 's2': 1324, 'notably': 1049, '1a': 59, 'highlighted': 758, '16': 44, '51': 139, '2a': 96, 'obtained': 1069, 'mrna': 1003, '0001': 2, 'human': 773, '2b': 97, 'low': 918, 'frequency': 672, 'excluded': 602, '180': 48, 'number': 1065, 'alterations': 245, 'missense': 983, 's3': 1325, 'investigated': 852, 'figs': 646, '1b': 60, 'rna': 1313, '2c': 98, 'upregulation': 1541, 'driven': 544, 'introduced': 848, 'expressing': 616, 's4': 1326, 'tables': 1463, '67': 160, 'confer': 416, 'double': 540, 'mutant': 1013, 'similarly': 1374, 'experiments': 613, 'required': 1285, 'interestingly': 847, '91': 187, '49': 131, '34': 108, 'drugs': 547, '43': 125, '57': 146, '41': 123, '90': 186, '58': 147, 'terms': 1476, 'mutation': 1016, 'summarized': 1441, 'frequencies': 671, '35': 109, 'independent': 816, 's5': 1327, 'discussion': 521, 'changed': 375, 'arising': 279, 'relapsed': 1271, 'developed': 509, '84': 180, '06': 10, '37': 111, '09': 14, '40': 121, '01': 5, '120': 32, '54': 143, '87': 183, '00': 0, '42': 124, 'data': 476, 'ct': 459, 'loop': 915, 's6': 1328, 'corresponds': 443, 'abl': 200, 'causes': 355, 'tkis': 1492, '33': 107, 'vitro': 1567, 'remaining': 1275, 'cloning': 392, 'means': 953, '36': 110, 'induces': 822, 'finally': 650, 'ad': 220, 'validated': 1550, 'tyrosine': 1531, 'appears': 269, 'hsp90': 772, 'proposed': 1206, 'overexpressing': 1088, 'molecules': 996, 'impaired': 804, 'overall': 1086, 'efforts': 558, 'frame': 668, 'deletions': 492, 'brca1': 334, 'brca2': 335, 'variants': 1555, 'immunohistochemical': 799, 'markers': 942, 'occurrence': 1071, 'immunohistochemistry': 800, '56': 145, 'probabilities': 1186, 'del': 488, 'improved': 808, 'variant': 1554, 'varying': 1557, 'breast': 338, 'information': 825, 'integrated': 843, 'risk': 1311, 'uv': 1545, 'features': 633, 'associated': 288, 'fewer': 635, 'predictions': 1179, 'findings': 651, 'suggested': 1439, 'rates': 1238, 'ihc': 787, 'er': 578, 'subjects': 1432, 'probands': 1188, 'members': 967, 'controls': 437, 'denaturing': 496, 'protein': 1209, 'insight': 838, 'ca': 343, 'cooh': 439, 'brct': 336, 'specific': 1404, 'functional': 674, 'terminus': 1475, 'repeats': 1277, 'acids': 209, 'binding': 317, 'dbd': 480, 'conserved': 424, '1433': 41, 'myriad': 1021, 'genetic': 696, 'tests': 1479, 'trans': 1499, 'phase': 1133, 'observations': 1067, 'cis': 385, 'sections': 1347, 'parameters': 1108, 'components': 410, 'estimated': 591, 'scores': 1340, 'categories': 352, 'negative': 1028, 'lacking': 882, '121': 33, 'sources': 1401, '001': 3, 'regions': 1265, 'charged': 379, 'furthermore': 676, 'carriers': 350, 'remained': 1274, 'shows': 1362, '86': 182, 'motifs': 1000, 'sites': 1380, 'contains': 433, 'residues': 1290, 'groups': 716, 'classify': 388, '88': 184, 'suggests': 1440, 'larger': 887, 'truncating': 1517, 'ring': 1310, 'profiles': 1196, 'web': 1573, 'align': 236, 'presented': 1180, 'sets': 1358, 'gvgd': 724, 'examined': 600, 'comparisons': 408, 'points': 1160, 'failed': 624, 'proband': 1187, 'chromosomes': 383, 'functions': 675, 'demonstrating': 495, 'assays': 287, 'occurring': 1072, 'representing': 1283, 'profiling': 1197, 'regulation': 1269, 'transfection': 1505, 'cos': 444, 'ligand': 899, 'inhibited': 827, 'induced': 821, 'keywords': 870, 'sorafenib': 1400, 'sunitinib': 1442, 'patient': 1111, 'primary': 1182, 'post': 1171, '44': 126, 'areas': 276, '52': 140, 'includes': 811, 'arrays': 280, 'level': 895, 'subtypes': 1437, 'clusters': 393, 'evaluated': 597, 'expression': 617, 'test': 1478, 'value': 1551, '00001': 1, 'variables': 1553, 'fisher': 653, 'exonic': 608, 'purified': 1221, 'reactions': 1245, 'applied': 271, 'biosystems': 322, 'mapping': 941, 'ptprd': 1216, 'tissue': 1487, 'microarray': 980, 'cm': 394, 'biopsies': 320, '75': 170, 'immunofluorescence': 798, 'situ': 1381, 'igg': 786, 'invitrogen': 853, 'overlapping': 1090, 'bac': 299, 'drug': 546, 'treatment': 1513, 'cdna': 366, 'enzymes': 576, 'transfected': 1504, 'constructs': 429, 'cdnas': 367, 'lipofectamine': 907, 'stimulated': 1421, 'recombinant': 1257, 'factors': 623, 'ngml': 1039, 'neoplasms': 1029, 'agents': 228, 'characterized': 378, '45': 127, 'stages': 1414, 'regulated': 1266, '64': 157, '62': 155, '47': 129, 'kit': 874, 'heat': 745, 'transcripts': 1502, 'reveals': 1304, 'yes': 1588, 'homolog': 763, 'akt3': 232, 'encoded': 569, 'codons': 399, 'c2': 342, 'transmembrane': 1510, '2d': 99, 'localized': 910, 'metastases': 973, 'months': 999, 'phosphorylation': 1143, 'lysates': 926, 'conditions': 414, 'decreased': 485, 'serum': 1357, 'isoforms': 859, 'μm': 1598, 'abrogated': 203, 'importantly': 807, 'previous': 1181, 'fibroblasts': 644, 'patterns': 1113, 'options': 1083, 'tsc': 1518, 'tsc1': 1519, 'tsc2': 1520, 'phenotypes': 1135, 'lesions': 894, 'disrupted': 525, 'authors': 297, 'novo': 1053, 'gtpase': 722, 'gap': 684, 'acts': 218, 'rheb': 1306, 'gtp': 721, 'dependent': 498, 'rapamycin': 1235, 's6k': 1329, '4e': 136, 'subcellular': 1429, 'altered': 246, 'signalling': 1370, 'discussed': 520, 'coding': 398, 'exons': 609, 'microsatellite': 981, 'mapped': 940, 'mb': 946, 'ma': 930, 'sigma': 1367, 'aldrich': 234, 'hek': 746, '293t': 95, 'pa': 1103, 'phosphate': 1136, 'lysed': 927, 'mm': 988, 'tris': 1516, 'hcl': 741, 'nacl': 1023, 'fractions': 666, 'analysed': 254, 'immunoblotting': 797, 'sds': 1343, 'page': 1104, 'li': 897, 'biosciences': 321, 'immunoprecipitation': 803, 'beads': 314, 'immunoblot': 796, 'fixed': 654, 'counted': 448, 'clinical': 389, 'open': 1082, 'imaging': 793, 'bd': 313, 'immunoprecipitated': 801, 'complexes': 409, 'mefs': 960, 'arrows': 281, 't389': 1457, 'signals': 1371, 'blots': 326, 't389s6k': 1458, '005': 4, 'comparison': 407, '95': 191, 'expressed': 615, '3a': 114, 'inhibiting': 828, 'children': 380, 'abnormalities': 201, 'diagnosed': 513, 'inherited': 826, 'aml': 250, 'fa': 621, '77': 172, '73': 168, '93': 189, '74': 169, '82': 178, '55': 144, 'inactivated': 809, 'disrupting': 526, 'vivo': 1568, 'abstract': 204, 'tgf': 1482, 'assayed': 286, 'smad2': 1387, 'smad3': 1388, 'smad4': 1389, '61': 154, 'frameshift': 669, '81': 177, 'iv': 860, 'cytokine': 469, 'processes': 1193, 'ref': 1260, 'receptors': 1255, 'receptor': 1254, 'smad': 1386, 'adenocarcinomas': 223, 'msi': 1006, 'cultures': 464, 'total': 1496, 'manufacturer': 934, 'intron': 850, 'biotechnology': 323, 'μg': 1595, 'μl': 1597, 'technologies': 1470, 'md': 950, '68': 161, 'specimens': 1406, 'formalin': 664, '104': 21, 'ml': 985, '02': 6, '250': 88, 'ng': 1038, 'germany': 702, 'initiated': 833, 'conducted': 415, 'cycles': 467, 'allowed': 242, 'gels': 691, 'aa': 196, 'acc': 205, 'cct': 359, 'fragments': 667, 'agarose': 226, 'stained': 1415, 'loh': 913, 'paraffin': 1107, 'embedded': 566, 'blocks': 324, 'normal': 1047, 'andor': 258, 'lymphocytes': 923, 'constructed': 428, 'luc': 920, 'flag': 656, 'dmem': 528, 'luciferase': 921, 'activities': 216, 'reagents': 1247, 'galactosidase': 683, 'following': 662, 'cruz': 458, 'monitored': 997, 'bands': 301, 'vectors': 1560, 'subcloned': 1430, 'alleles': 240, 'abi': 199, '124': 35, 'inhibition': 829, 'bars': 304, 'harbored': 736, 'briefly': 339, 'nt': 1061, 'mutational': 1017, 'sd': 1342, 'vs': 1569, 'mh2': 979, 'signal': 1368, 'affects': 225, 'taken': 1465, 'responsive': 1296, 'bax': 307, 'hnpcc': 761, 'encodes': 570, 'juxtamembrane': 863, 'gs': 718, 'domain': 535, 'diminished': 518, 'recently': 1253, 'inactivating': 810, 'phosphorylate': 1141, 'growth': 717, 'involves': 854, 'inhibits': 832, 'binds': 318, 'beta': 315, 'retained': 1301, 'p300': 1096, 'deleted': 489, 'mmr': 990, 'pairs': 1105, 'ubiquitination': 1534, 'smurf2': 1394, 'e3': 550, 'ubiquitin': 1533, 'ligase': 901, 'contacts': 430, 'ed': 553, 'terminal': 1474, 'enhances': 574, 'isoform': 858, 'depends': 499, 'group': 715, 'download': 541, 'interacts': 846, 'strand': 1422, 'determining': 508, 'peptides': 1128, '04': 8, 'amounts': 251, 'recorded': 1259, 'comparing': 406, 'structure': 1426, 'bound': 328, '3b': 115, 'having': 739, 'ratios': 1239, '07': 12, '08': 13, 'additionally': 222, 'structures': 1427, 'numbers': 1066, 'chains': 374, 'elements': 563, '4a': 132, '4b': 133, '106': 23, 'cd': 360, 'contributes': 434, 'makes': 932, 'si': 1365, '3c': 117, 'loops': 916, 'stabilized': 1412, 'conformations': 420, '03': 7, 'interacting': 844, 'atoms': 291, 'represented': 1282, 'substrates': 1436, 'yielded': 1589, 'hypothesized': 776, 'states': 1419, 'conformational': 419, 'rich': 1309, 'notch': 1050, 'unlike': 1539, 'ligands': 900, 'examples': 601, 'kinase': 872, 'achieved': 207, 'promotes': 1203, 'e2': 549, 'details': 506, 'edta': 554, 'factor': 622, 'recent': 1252, 'p53': 1098, 'inducible': 823, 'models': 991, 'h1299': 728, 'null': 1064, 'sirna': 1377, 'mcf': 948, 'tumour': 1526, 'r175h': 1226, 'dominant': 537, 'conclusions': 413, 'regulating': 1268, 'promoting': 1204, 'transformed': 1507, '2009': 75, '2013': 79, '2005': 71, '2011': 77, 'reports': 1280, '2004': 70, 'inducing': 824, 'apoptosis': 266, 'tumours': 1527, '2003': 69, '2010': 76, '2008': 74, 'regulators': 1270, 'sensitive': 1349, '2000': 66, '2002': 68, '2006': 72, '2007': 73, '2012': 78, 'membranes': 968, '2001': 67, 'events': 598, 'suppresses': 1450, 'egf': 559, 'plasmids': 1154, 'view': 1564, 'transfections': 1506, 'protocols': 1211, '105': 22, 'tp53': 1497, 'sirnas': 1378, 'nm': 1044, 'measurements': 954, 'national': 1024, 'probed': 1189, 'gfp': 704, 'images': 792, 'statistical': 1420, '59': 148, 'kda': 867, '1c': 61, 'lacks': 883, 'new': 1034, '1d': 62, 'occurs': 1073, 'hot': 766, 'upregulated': 1540, 'responses': 1295, 'responded': 1293, 'hela': 749, '1996': 55, '2e': 100, 'abolished': 202, '3d': 118, 'depleted': 500, 'dmso': 529, 'exhibited': 603, 'correlates': 442, '4d': 135, 'proteasomal': 1207, '6a': 163, '6b': 164, 'tagged': 1464, 'accompanied': 206, 'figures': 649, 'conversely': 438, 'silencing': 1372, 'mdm2': 951, 'demonstrates': 494, 'p63': 1100, 'despite': 503, '1999': 58, 'promoters': 1202, 'alternatively': 247, 'requires': 1286, 'needed': 1027, 'plays': 1157, 'notch1': 1051, 'apoptotic': 267, 'hd': 743, 'regulates': 1267, 'proteasome': 1208, 'gain': 681, 'function': 673, 'activation': 215, 'consistent': 425, 'similar': 1373, 'subunits': 1438, 'myc': 1019, 'survival': 1452, 'additional': 221, 'cloned': 390, 'lentiviral': 893, 'cyclin': 468, 'g1': 679, 'cycle': 466, 'tumor': 1522, 'pten': 1215, 'institute': 840, 'experimental': 612, 'animals': 259, 'early': 552, 'p21': 1095, 'injected': 834, 'institutional': 841, 'qiagen': 1224, 'modified': 993, 'retrovirus': 1303, 'ha': 733, 'cotransfected': 447, '150': 43, 'μgml': 1596, 'pvhl': 1223, 'hif': 756, 'vhl': 1563, 'extracts': 618, 'deficient': 487, 'ubiquitylation': 1535, 'immunoprecipitates': 802, 'transactivation': 1500, 'germ': 701, 'heterodimer': 753, 'helix': 750, '1α': 63, '2α': 102, 'cul2': 462, 'scf': 1336, 'box': 329, 'elongin': 565, 'bc': 308, 'colonies': 402, 'oligonucleotide': 1075, 'epitope': 577, 'modifications': 992, 'gal4': 682, 'fusions': 678, 'mgcl2': 976, 'pre': 1176, 'promega': 1201, 'assay': 285, 'atp': 292, 'powerpoint': 1172, 'slide': 1383, 'lanes': 884, 'consisting': 426, 'control': 435, 'lacked': 881, 'effect': 555, 'effects': 557, 'αc': 1593, 'created': 453, 'panels': 1106, '63': 156, 'appeared': 268, 'carcinomas': 348, 'causing': 356, 'hotspots': 768, 'bonds': 327, 'roles': 1315, 'called': 345, 'substrate': 1435, 'transcription': 1501, '400': 122, 'hr': 770, 'vector': 1559, 'separated': 1350, 'activity': 217, 'hotspot': 767, '38': 112, 'ankyrin': 260, 'catenin': 353, '46': 128, 'controlled': 436, 'vuss': 1571, 'brca': 333, 'vus': 1570, 'cosegregation': 445, '133': 39, 'intronic': 851, 'insertions': 837, 'women': 1579, 'multiple': 1010, 'focused': 658, 'bard1': 303, 'receiving': 1251, 'neutral': 1033, 'deletion': 491, '1993': 52, '85': 181, 'deleterious': 490, 'd1': 472, '66': 159, 'relatives': 1273, 'fh': 643, 'risks': 1312, 'ci': 384, 'age': 227, '125': 36, '111': 28, '240': 86, '89': 185, '118': 30, '97': 193, '98': 194, '92': 188, '123': 34, '101': 18, 'specifically': 1405, 'log': 912, '110': 27, '107': 24, '102': 19, '131': 38, '103': 20, '108': 25, '293': 94, '286': 92, '79': 174, '117': 29, '78': 173, 'splice': 1407, 'conferred': 417, 'limits': 903, 'utr': 1544, 'effectors': 556, 'mtor': 1008, 'state': 1418, 'screens': 1341, 'earlier': 551, 'coexpressed': 400, '5a': 149, 'nucleotides': 1063, 'pik3ca': 1149, 'kras': 875, 'somatic': 1399, 'wildtype': 1577, 'abd': 197, 'p110α': 1091, 'pi3k': 1147, 'estrogen': 592, 'grade': 714, 'mediates': 957, 'consequently': 423, 'given': 708, 'center': 370, 'genotyping': 700, 'exonuclease': 610, 'nucleotide': 1062, 'h1047r': 726, 'bio': 319, 'cosmic': 446, 'consequences': 422, 'ish2': 857, 'arg': 277, 'lipid': 906, 'pip3': 1151, 'phosphatidylinositol': 1137, 'activates': 213, 'phosphoinositide': 1139, 'loss': 917, 'syndromes': 1454, 'disorders': 524, 'ala': 233, 'phts': 1145, 'explained': 614, 'thr': 1485, 'allows': 244, 'asddd': 282, 'phosphotyrosine': 1144, 'dimensional': 517, 'akt1': 230, 'error': 587, 'spots': 1409, '5b': 150, '5c': 151, 'asp': 283, 'exon': 607, 'variations': 1556, 'neurons': 1032, 'swisnf': 1453, 'remodeling': 1276, 'smarca4': 1391, '69': 162, 'differentiated': 516, 'atpase': 293, 'schematic': 1337, 'immortalized': 795, 'tumorigenic': 1524, 'references': 1261, 'self': 1348, 'oncology': 1080, 'blood': 325, 'genomes': 698, 'lung': 922, 'a549': 195, 'medical': 958, 'tcga': 1469, 'seq': 1351, 'represents': 1284, 'treatments': 1514, 'gbm': 685, 'scale': 1335, 'shrna': 1364, 'arid1b': 278, 'pbrm1': 1115, 'xenografts': 1582, 'memorial': 969, 'sloan': 1385, 'kettering': 869, '1998': 57, 'sc': 1334, 'puromycin': 1222, 'outcomes': 1085, 'trastuzumab': 1511, 'lapatinib': 885, 'her2': 752, 'imatinib': 794, 'nilotinib': 1043, 'dasatinib': 475, 'bcr': 312, 'neratinib': 1030, 'figureopen': 648, 'tabdownload': 1461, 'pr': 1174, 'jm': 862, 'erbb2': 579, 'counts': 449, 'copies': 440, 'gefitinib': 690, 'inhibitor': 830, 'dfg': 511, 'phe': 1134, 'l858r': 877, 'braf': 331, 'v600e': 1547, 'nih': 1041, 'mcf10a': 949, 'retroviral': 1302, 'partners': 1109, 'mitogen': 984, 'mapk': 939, 'cytometry': 470, 'μmoll': 1599, 'kd': 866, 'allowing': 243, 'anchorage': 257, 'nih3t3': 1042, 't790m': 1460, 'inlineview': 835, 'ser': 1356, 'united': 1537, 'fus

In [68]:
X_train_bow = train_df_counts.toarray()

In [69]:
y_train = train_df['Class']

#### model fitting

In [70]:
train_df.shape

(664, 8)

In [71]:
from numpy import random

In [72]:
# create a dummy y value for getting the baseline accuracy
y_dummy = random.rand(664,9)

In [ ]:
#y_dummy

In [73]:
# baseline loss metric value
log_loss(y_train,y_dummy)

2.4584973576484925

#### Logistic Regression Model

In [74]:
bow_model.fit(X_train_bow,y_train)

LogisticRegression(multi_class='multinomial')

In [75]:
sorted(bow_model.coef_.tolist()[0])[:5]

[-0.22804384844291725,
 -0.19162836814100284,
 -0.18586572686654063,
 -0.16930186716798076,
 -0.16458155697687452]

In [76]:
y_pred_train_bow = bow_model.predict_proba(X_train_bow)

In [77]:
log_loss(y_train,y_pred_train_bow)

0.13377678273804283

In [78]:
tfidf_vectorizer.fit(train_df_corpus)

TfidfVectorizer(max_features=1600, ngram_range=(1, 3), stop_words='english',
                strip_accents='unicode', sublinear_tf=True,
                token_pattern='\\w+')

In [79]:
X_train_tfidf = tfidf_vectorizer.transform(train_df_corpus)

In [80]:
X_train_tfidf = X_train_tfidf.toarray()

In [81]:
tfidf_model.fit(X_train_tfidf,y_train)

LogisticRegression(multi_class='multinomial')

In [82]:
y_pred_train_tfidf = tfidf_model.predict_proba(X_train_tfidf)

In [83]:
log_loss(y_train,y_pred_train_tfidf)

1.0410624198183753

#### handling the test text sample data

In [84]:
#test_text_df.sort_values(['ID']).head()

In [85]:
#test_text_df.shape

In [86]:
#test_text_df['cleaned_text'] = test_text_df['Text'].map(cleanse_data,na_action='ignore')

In [87]:
#test_text_df['cleaned_text'] = test_text_df['cleaned_text'].map(reduce_words)

In [88]:
#test_text_df['cleaned_text_vector'] = test_text_df['cleaned_text'].map(word_count)

In [89]:
#test_text_df['sorted_cleaned_text_vector'] = test_text_df['cleaned_text'].progress_map(freq_dist)

In [90]:
#test_text_df = test_text_df.drop(['Text'],axis=1)

In [91]:
#test_text_df.head()

In [92]:
# get the text samples as list
#test_corpus = test_text_df['cleaned_text'].tolist()

In [93]:
# transform the test case to get bag of words
#test_bag_of_words_train = bow_vectorizer.fit_transform(test_corpus)

In [94]:
# convert the dictionary to an array
#test_bag_of_words_array = test_bag_of_words_train.toarray()

In [95]:
#test_bag_of_words_array.shape

In [96]:
# predict test using bag of word model
#y_pred_test_bow = bow_model.predict_proba(test_bag_of_words_array)

In [97]:
#y_pred_test_bow[0]

In [98]:
#y_pred_test_df = pd.DataFrame(y_pred_test_bow)

In [99]:
#test_text_df['ID'].shape

In [100]:
#y_pred_test_df['ID']= test_text_df['ID'].reset_index(drop=True)

In [101]:
#y_pred_test_df.head()

In [102]:
# predict test using tfidf model
#y_pred_test_tfidf = tfidf_model.predict_proba(test_bag_of_words_array)

In [103]:
stage2_test_text_df = pd.read_csv('stage2_test_text.csv', sep="\|\|", encoding="utf-8",engine="python", skiprows=1, names=["ID", "Text"])

In [104]:
stage2_test_text_df.shape

(986, 2)

In [105]:
stage2_test_text_df['cleaned_text'] = stage2_test_text_df['Text'].progress_map(cleanse_data,na_action='ignore')

my bar!: 100%|██████████| 986/986 [00:08<00:00, 118.41it/s]

In [106]:
stage2_test_text_df['cleaned_text'] = stage2_test_text_df['cleaned_text'].progress_map(reduce_words)

my bar!: 100%|██████████| 986/986 [00:03<00:00, 265.25it/s]

In [107]:
stage2_test_text_df.shape

(986, 3)

In [108]:
stage2_cleaned_view =pd.DataFrame({"Text":stage2_test_text_df['Text'].progress_map(lambda x:len(x)),"cleaned_text":stage2_test_text_df['cleaned_text'].map(lambda x:len(x))})
stage2_cleaned_view.head()

my bar!: 100%|██████████| 986/986 [00:00<00:00, 246753.21it/s]

    Text  cleaned_text
0  33403         14418
1  66400         29135
2  58544         26808
3  42023         17996
4  22499          8311

In [109]:
stage2_test_corpus = stage2_test_text_df['cleaned_text'].tolist()

In [110]:
#X_stage2_test = bow_vectorizer.fit_transform(stage2_test_corpus).toarray()

In [111]:
X_stage2_test = tfidf_vectorizer.fit_transform(stage2_test_corpus).toarray()

In [112]:
X_stage2_test.shape

(986, 1600)

In [113]:
y_pred_stage2 = tfidf_model.predict_proba(X_stage2_test)

In [114]:
y_pred_stage2.shape

(986, 9)

In [115]:
y_pred_stage2_df = pd.DataFrame(y_pred_stage2)

In [116]:
y_pred_stage2_df['ID']=stage2_test_text_df['ID']

In [117]:
y_pred_stage2_df.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 'ID'], dtype='object')

In [118]:
y_pred_stage2_df.columns = ['class1','class2','class3','class4','class5','class6','class7','class8','class9','ID']

In [119]:
y_pred_stage2_df=y_pred_stage2_df[['ID','class1','class2','class3','class4','class5','class6','class7','class8','class9']]

In [120]:
y_pred_stage2_df.head()

,ID,class1,class2,class3,class4,class5,class6,class7,class8,class9
0,1,0.186422,0.149421,0.026535,0.237968,0.052618,0.079556,0.249807,0.008294,0.009378
1,2,0.203485,0.151358,0.027601,0.164330,0.064765,0.066240,0.305628,0.007876,0.008715
2,3,0.227005,0.136329,0.028670,0.175229,0.075993,0.056186,0.282988,0.007891,0.009707
3,4,0.178313,0.167293,0.024891,0.173316,0.045918,0.064200,0.331278,0.006635,0.008155
4,5,0.173221,0.178667,0.029656,0.189868,0.055422,0.048550,0.308979,0.007329,0.008308

In [121]:
y_pred_stage2_df.to_csv("y_pred_stage2.csv",index=False)

In [122]:
df=pd.DataFrame(columns=["Gene","Class","Variation","cleaned_text","cleaned_freq"])
for i in range(19):    
    df_new=class_9[class_9['cleaned_text'] == class_9['cleaned_text'].unique()[i]]
    df=pd.concat([df,df_new])

NameError: name 'class_9' is not defined

we have sorted the frequency dictionary based on values using the key parameter of sorted and higher values first using reverse

In [ ]:
sorted(test_dic.items(),key=lambda x:x[1], reverse=True)

In [ ]:
for i in range(10):
    print(scan_data1[i])

In [ ]:
cd /content

In [ ]:
pa_tree=ET.parse('pa2021.xml')

In [ ]:
root=pa_tree.getroot()

In [ ]:
# for child in root:
#   print(child.tag)

In [ ]:
for element_1 in root:
  #print("---------level_1-----------")
  #print(element_1.tag)
  
  for element_2 in element_1:
    #print("---------level_2-----------")
    #print("    "+element_2.tag," ",element_2.text)
    
    for element_3 in element_2:
      #print("---------level_3-----------")
      #print("        "+element_3.tag," ",element_3.text)
      
      for element_4 in element_3:
        #print("---------level_4-----------")
        if element_4.tag=="String":
          print("                   "+element_4.tag," ",element_4.text)
          
  #break

In [ ]:
len(root)

In [ ]:
desc_tree=ET.parse('desc2021.xml')

In [ ]:
desc_root=desc_tree.getroot()

In [ ]:
len(desc_root)

In [ ]:
term_description=[]
for element_1 in desc_root:
  #print("-------level_1----------")
  #print(element_1.tag," ",element_1.text)
  for element_2 in element_1:
    #print("    ----------level_2----------")
    #print("    "+element_2.tag," ",element_2.text)
    for element_3 in element_2:
      if element_3.tag=='String':
        #print("        ---------level_3--------")
        #print("        "+element_3.tag," ",element_3.text)
        term_description.append(element_3.text)

  #break

In [ ]:
len(term_description)

In [ ]:
term_description[:10]

In [ ]:
import csv 
with open('term_description.csv', 'w') as f: 
    write = csv.writer(f) 
    write.writerow(term_description)

There are 2 ways to remove punctuation. one is to use the string library punctuation module on the text before tokenization, the other is to use the nltk.punct library

In [ ]:
len(scan_data1[1])

In [ ]:
#nltk.word_tokenize(scan_data1[1])

In [ ]:
# import string punctuation
import string
string.punctuation

In [ ]:
len(cleanup_text(scan_data1[1]))

In [ ]:
scan_data